-
    sliderData = [
    {
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    }
    ]

    titles = [
        {
            title: 'Наименование',
            mod: '_description'
        },
        {
            title: 'Цена',
            mod: '_price'
        },
        {
            title: 'Количество',
            mod: '_count'
        },
        {
            title: 'Всего',
            mod: '_total'
        }
    ]

    products = [
        {
            //img: 'media/product-card/slider/product-card-1.jpg',
            img: 'media/cart/cart-product-1.jpg',
            productTitle: 'ASHWOOD',
            productSubtitle: 'Рюкзак Ashwood Leather 1663 Chestnut',
            color: 'Чёрный',
            price: '15 000 руб.',
            oldPrice: '18 000 руб.',
            total: '30 000 руб.'
        },
        {
            img: 'media/cart/cart-product-2.jpg',
            productTitle: 'ASHWOOD',
            productSubtitle: 'Рюкзак Ashwood Leather 1663 Chestnut',
            color: 'Чёрный',
            price: '15 000 руб.',
            oldPrice: '18 000 руб.',
            total: '30 000 руб.'
        }
    ]

    total = [
        {
            label: 'Всего товаров',
            val: {
                text: '4 шт.',
                mod: 'p1'
            }
        },
        {
            label: 'Общая сумма без учета доставки',
            val: {
                text: '60 000 руб.',
                mod: 'p1'
            }
        },
        {
            label: 'Итого',
            val: {
                text: '60 000 руб.',
                mod: 'p1b'
            }
        }
    ]

+b('section').cart
    .title-block
        +e.H1.title КОРЗИНА

    +e.container.js-cart-content
        +b.FORM.card-products
            +e.header
                +e.row
                    each item in titles
                        +e.col(class=item.mod)
                            span.p1 !{item.title}

            +e.list
                each item, key in products
                    +e.row
                        +e.col._img
                            +e.img-wrap
                                +e.img(src=item.img)

                        +e.col._description
                            +e.H3.title !{item.productTitle}
                            +e.SPAN.subtitle.p4 !{item.productSubtitle}

                            +b.properties._adaptive
                                +e.row
                                    +e.label
                                        span.p4 Цвет:
                                    +e.val
                                        span.p4 !{item.color}

                        +e.col._price
                            +b.price-block
                                +e.SPAN.price.p1 !{item.price}
                                +e.SPAN.price.p3(class=' _old') !{item.oldPrice}

                        +e.col._count
                            +b.counter
                                +e.btn._decrement.js-counter-btn
                                +e.INPUT.input(type='text', name='quantity['+(key+1)+']', value='2', maxlength="3")
                                +e.btn._increment.js-counter-btn

                        +e.col._total(data-title="Всего:")
                            span.p1b !{item.total}

                        +e.col._remove
                            +b.remove-btn
                                +e.SPAN.text.h5 удалить



            +e.bottom
                +b.card-promo-code
                    h4 Есть промокод?
                    +e.INPUT.input(type='text', name='promo_code', placeholder="Введите его здесь")
                    +btn({title:"Применить", button: true})


                +b.card-total
                    each item in total
                        +e.row
                            +e.label
                                span.p2 !{item.label}

                            +e.val
                                span(class=item.val.mod) !{item.val.text}

                    +e.btns-wrap
                        +btn({title:"к покупкам", mod:'_light-gray', href:"catalog.html"})
                        +btn({title:"перейти к оформлению", button: true})


        +b.related-products
            .title-wrap
                h3 Рекомендуем добавить к заказу

            +b.novelty-list.slick-theme.js-slider-novelty
                each item in sliderData
                    +e.item
                        +merch_preview(item)