-
    description = [
        'ОПИСАНИЕ',
        'ДОСТАВКА',
        'ОПЛАТА',
        'ВОЗВРАТ'
    ]
    sliders = [
        'ПОХОЖИЕ ТОВАРЫ',
        'С ЭТИМ ТОВАРОМ ПОКУПАЮТ',
        'ВЫ СМОТРЕЛИ'
    ]

    sliderData = [
    {
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    },{
    category:"123",
    gallery:[
    {
    href:"#1",
    id:"1",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1500,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    },
    {
    href:"#2",
    id:"2",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey Ashwood Leather",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:1350,
    old_price:1500,
    labels:[
    {
    title:"Новинка",
    mod:"_new"
    },{
    title:"Хит",
    mod:"_hit"
    }
    ]
    },{
    id:"1",
    href:"#3",
    img:"ashwood",
    preview:"rectangle",
    name:"Ashwood Leather Harvey2",
    price:768
    },
    {
    id:"2",
    href:"#4",
    img:"ashwood",
    preview:"rectangle2",
    name:"Ashwood Leather Harvey",
    desc:"Рюкзак Ashwood Leather 1663 Chestnut",
    price:999999,
    old_price:999999,
    labels:[{
    title:"Новинка",
    mod:"_new"
    }]
    }
    ]
    }
    ]


+b('section').product.js-product-container
    include product-card

    +b.tabs-content.js-tabs-wrap
        +e.nav
            each item, key in description
                -
                    mod = key == 0 ? ' _active' : ''

                +e.H4.link(class=mod).js-tabs-link !{item}

        +e.content
            each item, key in description
                -
                    mod = key == 0 ? ' _active' : ''

                +e.tab(class=mod).js-tabs-content
                    .text-block._medium
                        p Мы работаем в соответствии с Законом «О защите прав потребителей» РФ и гарантируем возврат или обмен товара ненадлежащего и надлежащего качества в течение оговоренных законом сроков.

                        p
                            | Товар надлежащего качества можно вернуть или обменять:<br>
                            | в течение 7 (семи) дней с момента получения, в соответствии со ст. 26.1 Закона «О защите прав потребителей»;<br>
                            | если товар и упаковка (этикетка) обладают первоначальным видом;<br>
                            | должны быть сохранены товарный вид и потребительские свойства товара;<br>
                            | Невозможно осуществить возврат или обмен товара, бывшего в эксплуатации.<br>
                            | В случаях возврата/обмена товара надлежащего качества, все расходы на обратную транспортивку товара и повторную отправку (в случае обмена) оплачиваются покупателем.<br>
                            | Более подробная информаия в разделе Возврат товара

                        -for (var i = 0; i < key; i++)
                            p text text text text text text text text text text text text text text text text text text text text text text text text text text text text text


    +b.tabs-content._category.js-tabs-wrap
        +e.nav
            each item, key in sliders
                -
                    mod = key == 0 ? ' _active' : ''

                +e.H4.link(class=mod).js-tabs-link !{item}

        +e.content
            each item, key in sliders
                -
                    mod = key == 0 ? ' _active' : ''

                +e.tab(class=mod).js-tabs-content
                    +b.novelty-list.slick-theme.js-slider-novelty
                        each item in sliderData
                            +e.item
                                +merch_preview(item)
